body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Modificacinoes Footer */
footer{
  background-color: black;
  color: #ffffff;
  font-weight: normal;
  font-family: sans-serif;

  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

.mainViewContainer{
  height: inherit;
  padding-left: 0%;
  padding-right: 0%;
  margin-bottom: 100px;
}

.page-header {
  color: #ea4918
}

.homeRow{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('./loginBackground.jpg');
  background-color: black;
  position: relative;

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
}

.imageniOS{
  height: 90%;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Modificaciones del Navbar*/

.navbar-inverse {
  background-color: #ea4918;
  border-color: #ea4918;
  border-bottom: 0;
  margin-bottom: 0%;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
  font-weight: bold;
  font-family: sans-serif;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  font-weight: normal;
  font-family: sans-serif;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #ea4918;
  background-color: #ffffff;
}


/* Modificacinoes Para Vista del Login */

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.lasGraficas{
  margin-left: 45px;
  margin-bottom: 60px;
}

.lasRowes{
  margin-bottom: 30px;
}

.panel-warning>.panel-heading{
  background-color: #ea4918;
  color: #ffffff;
}
